<!doctype html>
<html ng-app="libraryApp">
<head>
	<title>Book</title>

	<style>
		html, body {
			background-color: #072B42;
			margin:0px;
			padding: 0px;
			height:100%;
			color: white;
			font-family: arial;
		}

		.container, .full {
			height: 100%
		}

		#navbar {
			background-color: #072B42;
			min-width: 300px;
			max-width: 300px;
			float:left;
			height:100%;
			position: relative;
			overflow: auto;
			/*height: 100%;
			width: 160px;*/
		}
		#main {
			width: calc(100% - 330px);
			background-color: #37465c;
			float:right;
			padding: 15px;
			margin:0px;
			min-height:100%;
			overflow:hidden;
			/*width: 640px;
			height: 100%;*/
		}
		#contents {
			width:500px;
			margin:auto;
		}

		ul {
			list-style: none;
			margin-left: 25px;
			padding: 0px;
		}

		li {
			margin-top: 20px;
			margin-bottom: 10px;
		}
		a {
			color: white;
			font-weight: bold;
			text-decoration: none
		}
		a:hover {
			color: #ED2C43;
		}
		input {
			border-color: #999999;
			height: 25px;
			margin-bottom: 5px;
		}
		select {
			height: 30px;
			min-width: 50px;
			margin-bottom: 5px;
		}

		{{{_sections.css}}}
	</style>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="/javascript/angular/angular.min.js"></script>
	<script src="/javascript/angular/libraryApp.js"></script>
</head>
<body>
<div class="container">
		<div id="navbar">
			<ul>
				<li>
					<a href="/user" id="users">VIEW USER LIST</a>
				</li>
				<li>
					<a href="/user/add" id="addusers">ADD USER</a>
				</li>
				<li>
					<a href="/book/list" id="addinv">VIEW BOOK LIST</a>
					<!-- IFrame version <a href="#" id="addinv" onclick="url2div(this.id, 'main')">ADD BOOK</a>-->
				</li>
				<li>
					<a href="/book/add" id="addinv">ADD BOOK</a>
					<!-- IFrame version <a href="#" id="addinv" onclick="url2div(this.id, 'main')">ADD BOOK</a>-->
				</li>
				<li>
					<a href="/book/checkout/list" id="checkoutlist">VIEW CHECKOUT LIST</a>
				</li>
				<li>
					<a href="/book/checkout" id="checkout">CHECKOUT BOOK</a>
				</li>
				<li>
					<a href="/analytics" id="analytics">ANALYTICS</a>
				</li>
			</ul>
		</div>
		<div id="main">
			<div id="contents">
				{{{body}}}
			</div>
		</div>
	</div>
</div>



	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript">
		{{{_sections.jcode}}}
	</script>
</body>
</html>