<!doctype html>
<html>
<head>
	<title>Book</title>
	{{{_sections.css}}}
</head>
<body>
{{{body}}}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript">
		{{{_sections.jcode}}}
	</script>
</body>
</html>