{{#section 'css'}}
	<style>
		.book {

		}
		.label {
			font-weight: bold;
		}
		ul {
			list-style: none;
		}
	</style>
{{/section}}
<h1>Inventory</h1>

<form class="form-horizontal" role="form" action="/book/entry/new" method="POST">
<h2>Book Information</h2>

	<input type="hidden" name="_csrf">
		{{! Book Title }}
		<div class="form-group row">
			<label for="fieldTitle" class="col-2 col-form-label" id="titleLab">Title</label>
			<div class="col-5 col-sm-10">
				<input type="text" class="form-control" required id="fieldTitle" aria-describedby="titleLab" name="title">
			</div>
		</div>

		{{! Author }}
		<div class="form-group row">
			<label for="fieldAuthor" class="col-2 col-form-label" id="authorLab">Author</label>
			<div class="col-5 col-sm-10">
				<input type="text" class="form-control" required id="fieldAuthor" aria-describedby="authorLab" name="author">
			</div>
		</div>

		{{! Publisher }}
		<div class="form-group row">
			<label for="publisher" class="col-2 col-form-label" id="publisherLab">Publisher</label>
			<div class="col-5 col-sm-10">
				<input type="text" class="form-control" required id="publisher" aria-describedby="publisherLab" name="pub">
			</div>
		</div>

		{{! Publisher Series}}
		<div class="form-group row">
			<label for="publisherSeries" class="col-2 col-form-label" id="seriesLab">Publisher Series</label>
			<div class="col-5 col-sm-10">
				<input type="text" class="form-control" required id="publisherSeries" aria-describedby="seriesLab" name="pubSeries">
			</div>
		</div>

		{{! LevelILER }}
		{{!<div class="form-group">
			<label for="levelILER" class="control-label">ILER Level</label>
			<div>
				<input type="text" class="form-control" required id="levelILER" name="level">
			</div>
		</div>}}
		<div class="form-group row">
			<label for="levelILER" class="col-2 col-form-label" id="levelLab">ILER Level</label>
			<div class="col-5 col-sm-10">
				<select class="form-control" id="levelILER" aria-describedby="levelLab" name ="level">
					<option value=1>1</option>
					<option value=2>2</option>
					<option value=3>3</option>
					<option value=4>4</option>
					<option value=5>5</option>
					<option value=6>6</option>
					<option value=7>NA</option>
				</select>
			</div>
		</div>

		{{! OldLevel }}
		{{!<div class="form-group">
			<label for="oldLevel" class="control-label">Old Level</label>
			<div>
				<input type="text" class="form-control" id="oldLevel" name="old">
			</div>
		</div>}}

<h2>Book Codes</h2>
		{{! Number }}
		<div class="form-group row">
			<label for="fieldNumber" class="col-2 col-form-label" id="numberLab">ILER Book Number</label>
			<div class="col-5 col-sm-10">
				<input type="text" class="form-control" required id="fieldNumber" aria-describedby="numberLab" name="number">
			</div>
		</div>

		{{! ISBN }}
		<div class="form-group row">
			<label for="fieldISBN" class="col-2 col-form-label" id="isbnLab">ISBN</label>
			<div class="col-5 col-sm-10">
				<input type="text" class="form-control" required id="fieldISBN" aria-describedby="isbnLab" name="isbn">
			</div>
		</div>

<h2>Book Attributes</h2>

		{{! Headwords }}
		<div class="form-group row">
			<label for="headwords" class="col-2 col-form-label" id="headwordsLab">Headwords</label>
			<div class="col-5 col-sm-10">
				<input type="text" class="form-control" required id="headwords" aria-describedby="headwordsLab" name="head">
			</div>
		</div>	

		{{! Graded/Non-graded }}
		{{!<div class="form-group">
			<label for="bkType" class="control-label">Graded/Non-Graded</label>
			<div>
				<input type="text" class="form-control" required id="bkType" name="type">
			</div>
		</div>}}
		<div class="form-group row">
			<label for="bkType" class="col-2 col-form-label" id="typeLab">Graded/Non-Graded</label>
			<div class="col-5 col-sm-10">
				<select class="form-control" aria-describedby="typeLab" name="type">
					<option value="graded">Graded</option>
					<option value="non-graded">Non-graded</option>
				</select>
			</div>
		</div>
		
		{{! Genre }}
		<div class="form-group row">
			<label for="fieldGenre" class="col-2 col-form-label" id="genreLab">Genre</label>
			<div class="col-5 col-sm-10">
				<input type="text" class="form-control" required id="fieldGenre" aria-describedby="genreLab" name="genre">
			</div>
		</div>

		{{! CD/No CD }}
		{{!<div class="form-group">
			<label for="CDInclude" class="control-label">CD/No CD</label>
			<div>
				<input type="text" class="form-control" required id="CDInclude" name="cd">
			</div>
		</div>}}
		<div class="form-group row">
			<label for="CDInclude" class="col-2 col-form-label" id="cddvdLab">CD/DVD Available</label>
			<div class="col-5 col-sm-10">
				<select class="form-control" aria-describedby="cddvdLab" name ="cd">
					<option value="yes">Yes</option>
					<option value="no">No</optiion>
				</select>
			</div>
		</div>

<h2>Number of Copies</h2>


		{{! Availability Total }}
		<div class="form-group row">
			<label for="totalBooks" class="col-2 col-form-label" id="copiesLab">Number of Copies</label>
			<div class="col-5 col-sm-10">
				<input type="text" class="form-control" required id="totalBooks" aria-describedby="copiesLab" name="total">
			</div>
		</div>

		{{! Submission Button }}
		<div class="form-group">
			<div>
				<button type="submit">Register</button>
			</div>
		</div>
</form>