{{#section 'css'}}

{{/section}}

<h1>Staff Account Registration</h1>

<form class="form-horizontal" role="form" action="/user/staff/registration" method="POST">
	<input type="hidden" name="_csrf" value="{{csrf}}">
		{{! Name Entry }}
		<div class="form-group row">
			<label for="fieldName" class="col-2 col-form-label">Name</label>
			<div class="col-5 col-sm-10">
				<input type="text" class="form-control" required id="fieldName" name="name">
			</div>
		</div>
		{{! E-mail Entry }}
		<div class="form-group row">
			<label for="fieldEmail" class="col-2 col-form-label">Email</label>
			<div class="col-5 col-sm-10">
				<input type="email" class="form-control" required id="fieldEmail" name="email">
			</div>
		</div>
		{{! Group }}
		<div class="form-group row">
			<label for="fieldGroup" class="col-2 col-form-label" id="groupLab">ILER Level</label>
			<div class="col-5 col-sm-10">
				<select class="form-control" id="fieldGroup" aria-describedby="groupLab" name ="group">
					<option value="user">User</option>
					<option value="admin">Admin</option>
				</select>
			</div>
		</div>

		{{! Password }}
		<div class="form-group row">
			<label for="fieldPassword" class="col-2 col-form-label">Password</label>
			<div class="col-5 col-sm-10">
				<input type="password" class="form-control" required id="fieldPassword" name="password">
			</div>
		</div>

		{{! Confirm Password }}
		<div class="form-group row">
			<label for="fieldConfirmPassword" class="col-2 col-form-label">Confirm Password</label>
			<div class="col-5 col-sm-10">
				<input type="password" class="form-control" required id="fieldConfirmPassword" name="password2">
			</div>
		</div>
		{{! Submission Button }}
		<div class="form-group">
			<div>
				<button type="submit">Register</button>
			</div>
		</div>
</form>
