<h1>Return</h1>

To Do<br>
<ol>
<li>Design list entry</li>
<li>Add return functionality</li>
<li>Add Extend functionality</li>
<li>Show checked out books in reverse chronological order (most recent due date first)</li>
<li>Implement search to narrow down the entries</li>
</ol>

<h3>Return a Book</h3>
<form class="form-horizontal" role="form" action="/process-rtrn?form=return" method="POST">
	<input type="hidden" name="_csrf">
	{{!Student number}}
	<div class="form-group">
		<label>Student number</label>
		<div>
			<input type="text" class="form-control" required id="idNumber" name="id">
		</div>
	</div>
	{{!Book code}}
	<div class="form-group">
		<label>Book Code</label>
		<div>
			<input type="text" class="form-control" required id="bookCode" name="code">
		</div>
	</div>
	{{!Submit}}
	<div class="form-group">
		<div>
			<button type="submit">Submit</button>
		</div>
	</div>
</form>


<h3>Return a book</h3>


<h3>View List of Current Checkouts</h3>
{{#each chklist}}
	<div class="checkouts">
		<div>
			<form class="form-horizontal" role="form" action="/process-chk?form=checkout" method="POST">
			<div class="form-group">
				<label>Book Code</label>
				<div>
					<input type="text" class="form-control" required id="bookCode" name="code" value="{{student}}">
				</div>
			</div>
			<ul>
				<li><span class="label">Student:</span> {{student}}</li>
				<li><span class="label">Code:</span> {{code}}</li>
			</ul>
			</form>
		</div>
		<div>
			<button>Return</button>
			<button>Extend</button>
		</div>
	</div>
{{/each}}