{{#section 'css'}}
	ul {
		list-style: none;
	}
	.users li {
		padding: 0px;
		margin: 0px;
	}
	.label {
		font-weight: bold;
	}
	.users {
		margin-bottom: 10px;
	}
{{/section}}

<h1>Users</h1>

{{#each userlist}}
	<div class="users">
		<ul>
			<li><span class="label">Name:</span> {{name}}</li>
			<li><span class="label">Id Number:</span> {{idnumber}}</li>
			<li><span class="label">Phone:</span> {{phone}}</li>
			<li><span class="label">Email:</span> {{email}}</li>
		</ul>
	</div>
{{/each}}