


<div ng-app="libraryApp">
	<div ng-controller="bookListCtrl">
		<h1>{{bookTitles}}</h1>
	</div>
</div>

<script src="angular.min.js"></script>
<script src="libraryApp.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
/*
SUCESSFUL TEST
<h2>Angular</h2>

	<div ng-controller="bookListCtrl">
		<label for="filter"> Filter Results</label>
		<input id="filter" type="text" name="filter" ng-model="textFilter">

		<div ng-repeat="bookTitle in bookTitles | filter : textFilter">\{{bookTitle.title}}</div>
	</div>

*/
</script>

